<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Login</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='login_styles.css') }}">
		<script src="https://kit.fontawesome.com/319dc572c6.js" crossorigin="anonymous"></script>
	</head>
	<body>
		<div class="login">
			<h1>!!! SUCCESS !!!</h1>
			<div class="links">
				<p> An email has been sent to your inbox regarding further steps. If an email has not arrived within five minutes, check your spam. If you still haven't received any mails after ten minutes, then mail me at balajirw10@gmail.com so that I can atttempt to remediate this issue. </p>
				<p>☜(ﾟヮﾟ☜)    ╰(*°▽°*)╯    (☞ﾟヮﾟ)☞   😂   ❤   🤷   🤦‍♂️</p>
			</div>
		</div>
	</body>
</html>